# SQLALCHEMY_DATABASE_URI=sqlite:///server/instance/models.db
# SQLALCHEMY_TRACK_MODIFICATIONS=True

# --- MySQL ---
MYSQL_CONT=mysql_db
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=llm_db
MYSQL_USER=llm_user
MYSQL_PASSWORD=llm_pass
MYSQL_HOST=mysql
MYSQL_PORT_EXT=3307
MYSQL_PORT_INT=3306

OPENAI_API_KEY=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
LLM_BASE_URL=https://openrouter.ai/api/v1

REDIS_CONT=redis_queue
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=devpassword
QUEUE_NAME=prompts

FLASK_CONT=flask_server
FLASK_APP=server.app:create_app
FLASK_ENV=production
APP_ENV=production
FLASK_HOST=0.0.0.0
FLASK_PORT=5000
GUNICORN_APP=server.app:app
GUNICORN_WORKERS=4

CELERY_CONT=celery_worker
CELERY_AUTOSCALE=10,3
CELERY_APP=server.infrastructure.celery_app.celery_app
API_PREFIX=/api/v1
APP_VERSION=1.0.0

PATH_USAGE=./data/usage.json
PATH_LOG=./data/client_logs.json

UI_PORT=7860
